<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ikeyboard">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/i_keyboard_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/i_keyboard_logo_circle"
        android:supportsRtl="true"
        android:theme="@style/Theme.IKeyboard">
        <service
            android:name="com.example.ikeyboard.MainKeyboard"
            android:label="iKeyboard"
            android:permission="android.permission.BIND_INPUT_METHOD">
                <meta-data android:name="android.view.im" android:resource="@xml/method"/>
            <intent-filter>
                <action android:name="android.view.InputMethod"/>
            </intent-filter>
        </service>
    </application>

</manifest>